name: Pull Request Testing

on: [pull_request]

jobs:
  buildJar:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 16
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 16

      - name: Set up Android SDK
        uses: android-actions/setup-android@v3

      - name: Install Android build tools
        run: sdkmanager "build-tools;30.0.1"

      - name: Build mod jar
        run: ./gradlew deploy

      - name: Upload built jar file
        uses: actions/upload-artifact@v4
        with:
          name: ${{ github.event.repository.name }} Pull Request
          path: build/libs/${{ github.event.repository.name }}.jar